html 
  head 
    title= "all users in DB" 
  body 
    h1 This is a list of all users in DB:
    ul 
      for aUser in allUsers
        li 
          p #{aUser.htmlinputname} and your ID is: #{aUser._id}
        
    