body {
    margin: auto;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-image: url('../images/yellow_curve_img.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    padding-top: 200px;
    width:80vw;
    margin: auto;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-bar > a{
    border: solid 2px rgb(205, 238, 231);
    border-radius: 20px;
    margin: auto;
    padding: 5px;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgb(204, 209, 208);
}

.main-dark-mode{
    color:#c0c0c0;
}

.body-dark-mode {
    background-image: url('../images/hello_yellow_dark.jpg');
}


header {
    border-top: 2px solid rgb(72,61,139);
    border-bottom: 2px solid rgb(72,61,139);
    padding-bottom: 5px;
    background-color: rgb(49, 195, 253);
    text-align: center;
    margin: 0px auto;
    position:fixed;
    width: 100vw;
    border-radius:5mm;
    z-index: 2;
}

footer {
    text-align: center;
    width: 80%;
    border-top: 2px dotted rgb(72,61,139);
    padding-bottom: 5px;
    background-color: rgba(3, 179, 248,0.65);
    border-radius:5mm;
    margin: auto;
}


.headner-inline-logo{
    max-height: 20px;
    width: auto;
}

.neulogo {
    max-width: 50%;
    height: auto;
    margin-top: 0;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    margin-bottom: 10px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a:visited {
    color: red;
}

a:link {
    color: pink;
}

.class-title,
.hobby-name {
    text-decoration: underline;
}

.grade-display {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    display: inline-block;
    margin-bottom: 20px;
    list-style-type: circle;
}

h1, h2, h3 {
    font-weight:bold;
}

.class-description-grade li:first-child {
    display: inline;
    font-style:italic;
}

.class-title + li{
    list-style-type: none;
}

.footer-github-logo img, 
.footer-email-logo img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.theme-date-time-section{
    text-align: right;
    margin-right: 20px;
    margin-top:10px;
    margin-bottom: 0;
    border-color: gray;
    border-width: 2px;
    border-style: solid; 
    position: absolute;
    right: 0;  
    background-color: rgb(202, 200, 200);
}
#td_display{
    margin: 0;
}

.theme-date-time-section {
    text-align: right;
    margin-right: 20px;
    margin-top:10px;
    margin-bottom: 0;
}

.theme-switch-button-dark {
    background-color: #311506;
    color: #ffcd4f;
}


