body {
    margin: auto;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-image: url('../images/yellow_curve_img.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    border-top: 2px solid rgb(72,61,139);
    border-bottom: 2px solid rgb(72,61,139);
    padding-bottom: 5px;
    background-color: rgb(49, 195, 253);
    text-align: center;
    margin: 0px auto;
    position:fixed;
    width: 100vw;
    border-radius:5mm;
}

footer {
    text-align: center;
    width: 80%;
    border-top: 2px dotted rgb(72,61,139);
    padding-bottom: 5px;
    background-color: rgba(3, 179, 248,0.65);
    border-radius:5mm;
    margin: auto;
}


.nav-bar > a{
    font-weight: bolder;
    font-size: xx-large;
    padding-right: 50px;
}

.headner-inline-logo{
    max-height: 20px;
    width: auto;
}

main {
    padding-top: 200px;
    width:80vw;
    margin: auto;
}



.neulogo {
    max-width: 50%;
    height: auto;
    margin-top: 0;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    margin-bottom: 10px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a:visited {
    color: red;
}

a:link {
    color: pink;
}

.class-title,
.hobby-name {
    text-decoration: underline;
}

.grade-display {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    display: inline-block;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-weight:bold;
}

.class-description-grade li:first-child {
    display: inline;
    font-style:italic;
}

.class-title + li{
    list-style-type: none;
}




