body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/tan_background_img.jpeg');
}

h2, .additem{
  color: #00B7FF;
}

tbody {
  text-align: center;
}

.action {
 display: flex;
}

