html 
  head 
    title= "List of all shopping items" 
  body 
    h1 This is a list of all shopping items:

    table(style='width:100%', border='1')
        tr 
            th _id
            th Item name 
            th Amount 
            th Price 
            th Action: 
        
        
    